{{define "web"}}
<html lang="en">
<head>
    <title>IPThing</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <style>
        body {
            background-color: black;
            color: white;
            margin: 0;
            padding: 20px;
        }
        table {
            font-family: monospace;
            width: 1024px;
            text-align: left;
            margin-left: auto;
            margin-right: auto;
            color: white;
        }
        table td, table th {
            padding: 4px 10px;
        }
        table thead {
        }
        table thead th {
        }
        table tfoot {
            font-weight: bold;
        }
    </style>
</head>
<body>
<table>
    <tbody>
    <tr>
        <td>IP Address</td>
        <td>{{ .IPAddr }}</td>
    </tr>
    {{ if .Hostname }}
    <tr>
        <td>Hostname</td>
        <td>{{ .Hostname }}</td>
    </tr>
    {{ end }}
    {{ if .Bogon }}
    <tr>
        <td>Bogon IP</td>
        <td>{{ .Bogon }}</td>
    </tr>
    {{ end }}
    <tr>
        <td>Country</td>
        <td>{{ .Country }}</td>
    </tr>
    {{ if .Region }}
    <tr>
        <td>Region</td>
        <td>{{ .Region }}</td>
    </tr>
    {{ end }}
    <tr>
        <td>City</td>
        <td>{{ .City }}</td>
    </tr>
    {{ if .Postal }}
    <tr>
        <td>Postal Code</td>
        <td>{{ .Postal }}</td>
    </tr>
    {{ end }}
    {{ if .Loc }}
    <tr>
        <td>Coordinates</td>
        <td>{{ .Loc }}</td>
    </tr>
    {{ end }}
    {{ if .Timezone }}
    <tr>
        <td>Timezone</td>
        <td>{{ .Timezone }}</td>
    </tr>
    {{ end }}
    <tr>
        <td>Organization</td>
        <td>{{ .Org }}</td>
    </tr>
    <tr>
        <td>Visitor</td>
        <td>{{ .Visitor }}</td>
    </tr>
    <tr>
        <td>X-Forwarded-For</td>
        <td>{{ .XFF }}</td>
    </tr>

    <tr>
        <td>X-Real-IP</td>
        <td>{{ .XRI }}</td>
    </tr>
    {{ if .TrueClientIP }}
    <tr>
        <td>True-Client-IP</td>
        <td>{{ .TrueClientIP }}</td>
    </tr>
    {{ end }}
    <tr>
        <td>Method</td>
        <td>{{ .Method }}</td>
    </tr>
    {{ if .Referer }}
    <tr>
        <td>Referer</td>
        <td>{{ .Referer }}</td>
    </tr>
    {{ end }}
    {{ if .MIMEType }}
    <tr>
        <td>Content-Type</td>
        <td>{{ .MIMEType }}</td>
    </tr>
    {{ end }}
    {{ if .DNT }}
    <tr>
        <td>DNT (Do Not Track)</td>
        <td>{{ .DNT }}</td>
    </tr>
    {{ end }}
    {{ if .UpgradeInsecureRequests }}
    <tr>
        <td>Upgrade-Insecure-Requests</td>
        <td>{{ .UpgradeInsecureRequests }}</td>
    </tr>
    {{ end }}
    {{ if .SaveData }}
    <tr>
        <td>Save-Data</td>
        <td>{{ .SaveData }}</td>
    </tr>
    {{ end }}
    {{ if .SecFetchSite }}
    <tr>
        <td>Sec-Fetch-Site</td>
        <td>{{ .SecFetchSite }}</td>
    </tr>
    {{ end }}
    {{ if .SecFetchMode }}
    <tr>
        <td>Sec-Fetch-Mode</td>
        <td>{{ .SecFetchMode }}</td>
    </tr>
    {{ end }}
    {{ if .SecFetchUser }}
    <tr>
        <td>Sec-Fetch-User</td>
        <td>{{ .SecFetchUser }}</td>
    </tr>
    {{ end }}
    {{ if .SecFetchDest }}
    <tr>
        <td>Sec-Fetch-Dest</td>
        <td>{{ .SecFetchDest }}</td>
    </tr>
    {{ end }}
    <tr>
        <td>User-Agent</td>
        <td>{{ .UserAgent }}</td>
    </tr>
    <tr>
        <td>Accept</td>
        <td>{{ .Accept }}</td>
    </tr>
    <tr>
        <td>Accept-Encoding</td>
        <td>{{ .AcceptEncoding }}</td>
    </tr>
    <tr>
        <td>Accept-Language</td>
        <td>{{ .AcceptLanguage }}</td>
    </tr>
    {{ if .SecCHUA }}
    <tr>
        <td>Sec-CH-UA</td>
        <td>{{ .SecCHUA }}</td>
    </tr>
    {{ end }}
    {{ if .SecCHUAMobile }}
    <tr>
        <td>Sec-CH-UA-Mobile</td>
        <td>{{ .SecCHUAMobile }}</td>
    </tr>
    {{ end }}
    {{ if .SecCHUAPlatform }}
    <tr>
        <td>Sec-CH-UA-Platform</td>
        <td>{{ .SecCHUAPlatform }}</td>
    </tr>
    {{ end }}
    {{ if .SecCHUAArch }}
    <tr>
        <td>Sec-CH-UA-Arch</td>
        <td>{{ .SecCHUAArch }}</td>
    </tr>
    {{ end }}
    {{ if .DeviceMemory }}
    <tr>
        <td>Device Memory (GB)</td>
        <td>{{ .DeviceMemory }}</td>
    </tr>
    {{ end }}
    {{ if .ViewportWidth }}
    <tr>
        <td>Viewport Width</td>
        <td>{{ .ViewportWidth }}</td>
    </tr>
    {{ end }}
    <tr>
        <td>Host</td>
        <td>{{ .Host }}</td>
    </tr>
    <tr>
        <td>Protocol</td>
        <td>{{ .Proto }}</td>
    </tr>
    <tr>
        <td>Scheme</td>
        <td>{{ .Scheme }}</td>
    </tr>
    <tr>
        <td>Remote Address</td>
        <td>{{ .RemoteAddr }}</td>
    </tr>
    <tr>
        <td>Request URI</td>
        <td>{{ .RequestURI }}</td>
    </tr>
    <tr>
        <td>Content Length</td>
        <td>{{ .ContentLength }}</td>
    </tr>
    {{ if .Connection }}
    <tr>
        <td>Connection</td>
        <td>{{ .Connection }}</td>
    </tr>
    {{ end }}
    {{ if .CacheControl }}
    <tr>
        <td>Cache-Control</td>
        <td>{{ .CacheControl }}</td>
    </tr>
    {{ end }}
    <tr>
        <td>Has Cookies</td>
        <td>{{ .HasCookies }}</td>
    </tr>
    {{ if .Via }}
    <tr>
        <td>Via (Proxy Chain)</td>
        <td>{{ .Via }}</td>
    </tr>
    {{ end }}
    {{ if .Forwarded }}
    <tr>
        <td>Forwarded</td>
        <td>{{ .Forwarded }}</td>
    </tr>
    {{ end }}
    {{ if .CFRay }}
    <tr>
        <td>CF-Ray</td>
        <td>{{ .CFRay }}</td>
    </tr>
    {{ end }}
    {{ if .CFRequestID }}
    <tr>
        <td>CF-Request-ID</td>
        <td>{{ .CFRequestID }}</td>
    </tr>
    {{ end }}
    <tr>
        <td>Request Timestamp</td>
        <td>{{ .Timestamp }}</td>
    </tr>
    {{ if .QueryParams }}
    <tr>
        <td>Query Parameters</td>
        <td>
            {{ range $key, $values := .QueryParams }}
                {{ $key }}: {{ range $values }}{{ . }} {{ end }}<br>
            {{ end }}
        </td>
    </tr>
    {{ end }}
    {{ if .TLSVersion }}
    <tr>
        <td>TLS Version</td>
        <td>{{ .TLSVersion }}</td>
    </tr>
    <tr>
        <td>TLS Cipher Suite</td>
        <td>{{ .TLSCipherSuite }}</td>
    </tr>
    <tr>
        <td>TLS Server Name</td>
        <td>{{ .TLSServerName }}</td>
    </tr>
    <tr>
        <td>TLS Negotiated Protocol</td>
        <td>{{ .TLSNegotiatedProtocol }}</td>
    </tr>
    {{ end }}
    </tbody>
</table>
<p style="text-align:center;font-family:monospace;margin-top:2rem;"><a href="/privacy" style="color:#9cf;">Privacy</a></p>
</body>
</html>


{{end}}